<ng-container *ngIf="vm$ | async as vm">
  <div class="top"></div>
  <div class="header">
    <img routerLink=""
         class="logo"
         src="assets/images/logo.svg" />
    <nz-input-group class="search-input"
                    [nzSuffix]="suffixIconSearch">
      <input nz-input
             [disabled]="vm.isLoading"
             [(ngModel)]="keyword"
             [placeholder]="'ACTION.SEARCH' | translate"
             (keydown.enter)="keyword !== vm.keyword && !vm.isLoading ? onSearch(keyword) : $event.preventDefault()" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <strong *ngIf="!vm.isLoading && vm.total"
              class="totals">{{
        'TOTALS' | translate : { totals: vm.total }
        }}</strong>
      <span nz-icon
            nzType="search"
            (click)="keyword !== vm.keyword && !vm.isLoading ? onSearch(keyword) : $event.preventDefault()"></span>
    </ng-template>
  </div>
  <div class="main">
    <ng-container *ngIf="vm.isLoading; else wordsTemplate">
      <div class="loading">
        <span><nz-spin nzSize="large"></nz-spin></span>
        <h4 class="slogan">{{ 'SLOGAN' | translate }}</h4>
      </div>
    </ng-container>
    <ng-template #wordsTemplate>
      <div class="no-result"
           *ngIf="vm.total === 0">
        <img src="assets/images/no_result.png" />
        <h4 [style.text-align]="'center'">{{ 'NO_RESULT' | translate }}</h4>
        <p [style.text-align]="'center'">{{ 'AFTER_NO_RESULT' | translate }}</p>
      </div>
      <cdk-virtual-scroll-viewport #wordListTemplate
                                   *ngIf="vm.total !== 0"
                                   class="list"
                                   itemSize="82.5"
                                   (scroll)="onScroll()">
        <li *cdkVirtualFor="let word of vm.words; index as i"
            class="word"
            (click)="vm.selectedWord !== word ? onViewCharacter(word) : vm.selectedWord = null">
          <span class="word__index">{{ i + 1 }}:</span>
          <span class="word__name">{{ word.display }}</span>
          <span class="word__pinyin">[{{ word.pinyin }}]</span>
          <span *ngIf="word.chinaVietnamWord !== ''"
                class="word__chivi">({{ word.chinaVietnamWord | titlecase }})</span>
          <div class="word-tags">
            <span *ngIf="word.type"
                  class="word-tags__type"><nz-tag>{{ word.type | translate | lowercase }}</nz-tag></span>
            <span class="word-tags__hsk">
              <ng-container [ngSwitch]="word.hsk">
                <ng-container *ngSwitchCase="'hsk1'">
                  <nz-tag [nzColor]="'cyan'">HSK 1</nz-tag>
                </ng-container>
                <ng-container *ngSwitchCase="'hsk2'">
                  <nz-tag [nzColor]="'blue'">HSK 2</nz-tag>
                </ng-container>
                <ng-container *ngSwitchCase="'hsk3'">
                  <nz-tag [nzColor]="'geekblue'">HSK 3</nz-tag>
                </ng-container>
                <ng-container *ngSwitchCase="'hsk4'">
                  <nz-tag [nzColor]="'purple'">HSK 4</nz-tag>
                </ng-container>
                <ng-container *ngSwitchCase="'hsk5'">
                  <nz-tag [nzColor]="'volcano'">HSK 5</nz-tag>
                </ng-container>
                <ng-container *ngSwitchCase="'hsk6'">
                  <nz-tag [nzColor]="'red'">HSK 6</nz-tag>
                </ng-container>
                <ng-container *ngSwitchCase="'hsk79'">
                  <nz-tag [nzColor]="'magenta'">HSK 7+</nz-tag>
                </ng-container>
                <ng-container *ngSwitchCase="'z---'">
                  <nz-tag>--------</nz-tag>
                </ng-container>
              </ng-container>
            </span>
          </div>

          <span class="word__define">{{ word.define | translate }}</span>
          <span *ngIf="word.reference"
                class="word__reference">{{ 'DICTIONARY.REFERENCE' | translate }}: {{ word.reference }}</span>
          <ng-container *ngIf="vm.selectedWord === word">
            <div id="writer"></div>
          </ng-container>
        </li>
        <!-- <button>Load more</button> -->
      </cdk-virtual-scroll-viewport>
    </ng-template>
  </div>
</ng-container>
<p class="copy-right">Copyright 2022 - {{ year | date : 'yyyy' }} &copy; {{ 'FOOTER' | translate }}</p>
<a class="facebook"
   nz-tooltip
   nzTooltipTitle="Toan's Facebook"
   nzTooltipPlacement="left"
   target="_blank"
   href="https://www.facebook.com/lqtoann">
  <span nz-icon
        nzType="facebook"
        nzTheme="fill"></span>
</a>