@import '/src/styles.scss';

.top {
  height: 1rem;
  background: linear-gradient(135deg, rgba($color: $primary-color, $alpha: 1), rgba($color: $blue, $alpha: 0.75));
}
.header {
  height: 6rem;
  padding: 1rem calc(3 * 100vw / 12);
  background: $black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    height: 2.5rem;
    width: auto;
    cursor: pointer;
  }
  .search-input {
    padding: 0.25rem 0.5rem;
    width: calc(25% + 8rem);
    border-radius: 0.5rem;
    span:hover {
      cursor: pointer;
      color: $primary-color;
    }
  }
  .totals {
    color: rgba($color: $gray, $alpha: 0.25);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  small {
    color: $white;
  }
}

.main {
  height: calc(100vh - 9rem);
  padding: 1rem calc(3 * 100vw / 12);
  background: $white;
  overflow: hidden;

  // scroll-snap-type: y mandatory;
  .no-result {
    height: calc(100vh - 11rem);
    background: #fff;
    border-radius: 0.5rem;
  }
  .list {
    height: calc(100vh - 11rem);
    background: #fff;
    overflow-y: scroll;
    border-radius: 0.5rem;
    .word {
      position: relative;
      min-height: 82.5px;
      padding: 0.25rem 0.5rem 0;
      border-bottom: 1px solid rgba($color: $gray, $alpha: 0.25);
      display: flex;
      flex-flow: row wrap;
      align-items: baseline;
      align-content: flex-start;
      // scroll-snap-align: start;
      &__index {
        width: 100%;
        color: '#4c566a80';
        font-size: 9px;
        font-weight: 500;
        line-height: 100%;
      }
      &__name {
        width: 100%;
        z-index: 2;
        color: $red;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 1px;
        font-family: 'Noto Serif SC', serif;
      }
      &__pinyin {
        color: #81a1c1;
      }
      &__chivi {
        margin-left: 0.125rem;
        color: $blue;
      }
      &-tags {
        z-index: 1;
        position: absolute;
        top: 16px;
        right: 0.5rem;
        &__type {
          margin-right: 0.25rem;
          .ant-tag {
            margin: 0;
            font-size: $font-size;
            padding: 0 0.25rem;
            color: rgba($color: $gray, $alpha: 0.5);
            border-radius: 7px;
            border-width: 1px;
          }
        }
        &__hsk {
          .ant-tag {
            margin: 0;
            padding: 0 0.25rem;
            width: 3rem;
            font-weight: 500;
            border-radius: 7px;
            border-width: 1px;
          }
        }
      }

      &__define {
        width: calc(100% - 2rem);
        color: $gray;
        font-weight: 500;
        word-wrap: break-word;
      }

      &__date {
        width: 90%;
        color: rgba($color: $gray, $alpha: 0.5);
        font-size: 9px;
        text-align: right;
        line-height: 100%;
      }
      &__reference {
        width: 100%;
        color: #ebcb8b;
        font-size: 11px;
        font-weight: 600;
        font-style: italic;
      }
      #writer {
        display: flex;
      }
    }
    .word:hover {
      cursor: pointer;
      background: rgba($color: $second-white, $alpha: 0.25);
    }
  }

  /****************** thumbnail ******************/
  ::-webkit-scrollbar {
    width: 6px;
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: $blue;
    border-radius: 4px;
  }

  .loading {
    padding: 0.5rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    .slogan {
      text-align: center;
      margin-top: 1rem;
    }
  }
}

.copy-right {
  height: 1rem;
  padding: 0.5rem calc(3 * 100vw / 12);
  font-size: 10px;
}

.facebook {
  position: fixed;
  bottom: 0;
  right: calc(3 * 100vw / 12);
  font-size: 2rem;
}

::ng-deep {
  .notification {
    top: 7rem;
    right: calc(3 * 100vw / 12 - 0.5rem);
  }
}

@media screen and (max-width: $tablet) {
  .header,
  .main {
    padding: 1rem;
  }
  .copy-right {
    padding: 0.5rem 1rem;
  }
  .facebook {
    right: 1rem;
  }

  ::ng-deep {
    .notification {
      right: calc(0);
    }
  }
}

@media screen and (max-width: $mobile) {
  .header {
    .search-input {
      margin-left: 1rem;
      width: calc(25% + 8rem);
    }
    .search-input:focus {
      width: 100%;
    }
  }
}
