@import '/src/styles.scss';

.top {
  height: 1rem;
  background: linear-gradient(135deg, rgba($color: $primary-color, $alpha: 1), rgba($color: $blue, $alpha: 0.75));
}
.header {
  padding: 1rem calc(3 * 100vw / 12);
  height: 5rem;
  background: $black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    height: 2.5rem;
    width: auto;
    cursor: pointer;
  }
  .search-input {
    padding: 0.25rem 0.5rem;
    width: calc(25% + 8rem);
    border-radius: 0.5rem;
    span:hover {
      cursor: pointer;
      color: $primary-color;
    }
  }
  .totals {
    color: rgba($color: $gray, $alpha: 0.25);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  small {
    color: $white;
  }
}
.main {
  height: calc(100vh - 8rem);
  padding: 1rem calc(3 * 100vw / 12);
  background: $white;
  overflow: hidden;
  .list {
    height: 100%;
    background: #fff;
    overflow: scroll;
    border-radius: 0.5rem;
    // scroll-snap-type: y mandatory;
    .word {
      position: relative;
      min-height: 69.77px;
      padding: 0.25rem 0.5rem 0;
      border-bottom: 1px solid rgba($color: $gray, $alpha: 0.25);
      display: flex;
      flex-flow: row wrap;
      align-items: baseline;
      align-content: flex-start;
      transition: $transition;
      // scroll-snap-align: start;
      &--index {
        width: 100%;
        color: '#4c566a80';
        font-size: 9px;
        font-weight: 500;
        line-height: 100%;
      }
      &--name {
        color: $red;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 1px;
        font-family: 'Noto Serif SC', serif;
      }
      &--pinyin {
        margin-left: 0.25rem;
        color: #81a1c1;
      }
      &--chivi {
        margin-left: 0.125rem;
        color: $blue;
      }
      &--type {
        margin-left: 0.5rem;
        .ant-tag {
          padding: 0 0.25rem;
          font-size: $font-size;
          color: rgba($color: $gray, $alpha: 0.5);
        }
      }
      &--define {
        width: 100%;
        color: $gray;
        font-weight: 500;
        word-wrap: break-word;
      }
      &--hsk {
        margin-left: auto;
        .ant-tag {
          margin: 0;
          padding: 0 0.25rem;
          width: 3rem;
          font-weight: 500;
          border-radius: 7.5px;
          border-width: 1.5px;
        }
      }
      &--date {
        width: 90%;
        color: rgba($color: $gray, $alpha: 0.5);
        font-size: 9px;
        text-align: right;
        line-height: 100%;
      }
      &--reference {
        width: 100%;
        color: #ebcb8b;
        font-size: 11px;
        font-weight: 600;
        font-style: italic;
      }
      #writer {
        display: flex;
      }
    }
    .word:hover {
      cursor: pointer;
      background: rgba($color: $second-white, $alpha: 0.25);
    }
    .loading {
      padding: 0.5rem;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      .slogan {
        text-align: center;
        margin-top: 1rem;
      }
    }
    .img {
      margin: auto;
      margin-top: 15vh;
      width: 75%;
    }
  }
}

.copy-right {
  height: 1rem;
  padding: 0.5rem calc(3 * 100vw / 12);
  font-size: 10px;
}

.facebook {
  position: fixed;
  bottom: 0;
  right: calc(3 * 100vw / 12);
  font-size: 2rem;
}

::ng-deep {
  .notification {
    top: 6rem;
    right: calc(3 * 100vw / 12 - 1rem);
  }
}

@media screen and (max-width: $tablet) {
  .header,
  .main {
    padding: 1rem;
  }
  .copy-right {
    padding: 0.5rem 1rem;
  }
  .facebook {
    right: 1rem;
  }

  ::ng-deep {
    .notification {
      right: calc(0);
    }
  }
}

@media screen and (max-width: $mobile) {
  .header {
    .search-input {
      margin-left: 1rem;
      width: calc(25% + 8rem);
    }
    .search-input:focus {
      width: 100%;
    }
  }
}
